<template>
  <div class="w-[1020px] min-h-screen mx-auto py-5 px-2">
    <div class="flex flex-row justify-between mb-5 text-right">
      <div class="text-lg">
        Hello,<span class="font-bold text-orange-500 pl-2">
          {{ currentUser?.username }}</span
        >
      </div>
      <el-button type="danger" @click="logout">Logout</el-button>
    </div>
    <div class="text-2xl underline mb-5 text-center">TO DO LIST</div>

    <div class="flex flex-row items-start">
      <div
        class="w-[350px] max-w-['350px'] my-0 mx-auto bg-slate-100 rounded py-5 px-5"
      >
        <el-form
          ref="formRef"
          :model="form"
          :rules="rules"
          label-position="left"
        >
          <el-form-item label="New Task" prop="task">
            <el-input v-model="form.task" class="w-full"></el-input>
          </el-form-item>

          <el-form-item label="Insert Count" prop="insertCount">
            <el-input-number
              v-model="form.insertCount"
              :min="1"
              class="!w-full"
            ></el-input-number>
          </el-form-item>

          <div class="text-right">
            <el-button :loading="loading" type="primary" @click="addTodo">
              Add
            </el-button>
          </div>
        </el-form>
      </div>
    </div>

    <div class="mt-5">
      <el-table
        v-loading="loading"
        :data="list"
        border
        size="small"
        header-cell-class-name="!bg-slate-50"
      >
        <el-table-column label="No." type="index" align="center" width="70" />
        <el-table-column prop="title" label="Title" />
        <el-table-column label="Action" align="center" width="120px">
          <template #default="props">
            <el-button
              type="danger"
              size="small"
              @click="deleteTodo(props.row._id)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="mt-2 flex flex-row flex-nowrap">
        <el-pagination
          v-model:current-page="paginateProp.page"
          v-model:page-size="paginateProp.pageSize"
          :page-sizes="paginateProp.pageSizes"
          layout="total, sizes, prev, pager, next, jumper"
          :total="paginateProp.total"
          :disabled="loading"
          class="flex-1"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        >
        </el-pagination>

        <el-button v-if="list.length" type="danger" @click="deleteTodoAll()">
          Delete All Record
        </el-button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'
import { useAuthStore } from '../stores'
import { ElMessage, FormRules, FormInstance } from 'element-plus'

type TodoItem = {
  _id: string
  title: string
  userId: string
}

const router = useRouter()
const authStore = useAuthStore()

const loading = ref(false)
const formRef = ref<FormInstance>()
const form = ref<{ task: string; insertCount: number }>({
  task: '',
  insertCount: 1
})
const rules = ref<FormRules>({
  task: [{ required: true }],
  insertCount: [{ required: true }]
})

const list = ref<TodoItem[]>([])
const currentUser = computed(() => {
  return authStore.currentUser
})

// Table
const paginateProp = ref({
  page: 1,
  pageSize: 50,
  pageSizes: [
    50, 100, 300, 500, 800, 1500, 2500, 4000, 7000, 10000, 25000, 50000, 99999,
    999999, 0
  ],
  total: 0
})

const getTodoList = () => {
  if (!currentUser.value) return

  loading.value = true

  const { page, pageSize } = paginateProp.value

  axios({
    method: 'GET',
    url: 'http://127.0.0.1:5000/todo/getDataTable',
    params: {
      userId: currentUser.value._id,
      page,
      pageSize
    },
    headers: {
      'Access-Control-Allow-Origin': '*',
      'Content-type': 'application/json',
      Authorization: `Bearer ${authStore.jwt_token}`
    }
  })
    .then((response) => {
      if (response.status != 200) {
        ElMessage({ type: 'error', message: 'Something went wrong!' })
        return
      }

      const { data, total } = response.data
      ElMessage({
        type: 'success',
        message: `Fetch data success (${data.length} of ${total})`,
        duration: 7000
      })

      list.value = data
      paginateProp.value.total = total
    })
    .catch((error) => {
      if (error?.response?.data) {
        ElMessage({ type: 'error', message: error.response.data as string })
        return
      }

      ElMessage({ type: 'error', message: error.message || 'Get todo error!' })
    })
    .finally(() => {
      loading.value = false
    })
}

const handleSizeChange = () => {
  getTodoList()
}
const handleCurrentChange = () => {
  getTodoList()
}

const addTodo = () => {
  formRef.value?.validate((isValid) => {
    if (isValid) {
      if (!currentUser.value) {
        ElMessage({ type: 'error', message: 'User Id is required!' })
        return
      }

      loading.value = true

      axios({
        method: 'POST',
        url: 'http://127.0.0.1:5000/todo/insert',
        data: {
          title: form.value.task,
          userId: currentUser.value._id,
          insertCount: form.value.insertCount
        },
        headers: {
          'Access-Control-Allow-Origin': '*',
          'Content-type': 'application/json',
          Authorization: `Bearer ${authStore.jwt_token}`
        }
      })
        .then((response) => {
          if (response.status != 200) {
            ElMessage({ type: 'error', message: 'Something went wrong!' })
            return
          }

          getTodoList()
          formRef.value?.resetFields()
          ElMessage({ type: 'success', message: 'Todo insert successfully' })
        })
        .catch((error) => {
          if (error?.response?.data) {
            ElMessage({ type: 'error', message: error.response.data as string })
            return
          }

          ElMessage({
            type: 'error',
            message: error.message || 'Insert todo error!'
          })
        })
        .finally(() => {
          loading.value = false
        })
    }
  })
}
const deleteTodo = (_id: string) => {
  axios({
    method: 'DELETE',
    url: 'http://127.0.0.1:5000/todo/delete',
    params: {
      _id: _id
    },
    headers: {
      'Access-Control-Allow-Origin': '*',
      'Content-type': 'application/json',
      Authorization: `Bearer ${authStore.jwt_token}`
    }
  })
    .then((response) => {
      if (response.status != 200) {
        ElMessage({ type: 'error', message: 'Something went wrong!' })
        return
      }

      getTodoList()
    })
    .catch((error) => {
      if (error?.response?.data) {
        ElMessage({ type: 'error', message: error.response.data as string })
        return
      }

      ElMessage({
        type: 'error',
        message: error.message || 'Remove todo error!'
      })
    })
}
const deleteTodoAll = () => {
  if (!currentUser.value) {
    ElMessage({ type: 'error', message: 'User Id is required!' })
    return
  }

  loading.value = true
  const userId = currentUser.value._id

  axios({
    method: 'DELETE',
    url: 'http://127.0.0.1:5000/todo/deleteAll',
    params: {
      userId
    },
    headers: {
      'Access-Control-Allow-Origin': '*',
      'Content-type': 'application/json',
      Authorization: `Bearer ${authStore.jwt_token}`
    }
  })
    .then((response) => {
      if (response.status != 200) {
        ElMessage({ type: 'error', message: 'Something went wrong!' })
        return
      }

      getTodoList()
    })
    .catch((error) => {
      if (error?.response?.data) {
        ElMessage({ type: 'error', message: error.response.data as string })
        return
      }

      ElMessage({
        type: 'error',
        message: error.message || 'Remove all todo error!'
      })
    })
    .finally(() => {
      loading.value = false
    })
}

const logout = () => {
  authStore
    .logout()
    .then(() => {
      router.push('/auth')
      ElMessage({ type: 'success', message: `You are logged out!` })
    })
    .catch((error) => {
      ElMessage({
        type: 'error',
        message: error.message || 'Logout error'
      })
    })
}

onMounted(() => {
  authStore
    .setCurrentUser()
    .then(() => {
      getTodoList()
    })
    .catch(() => {
      ElMessage({
        type: 'error',
        message: 'Access token is expired!'
      })
      authStore.logout()
      router.push('/auth')
    })
})
</script>
